---
lang: en
title: Paperpillar
description: We Are Paperpillar A team of passionate designers and developers from Yogyakarta
---

<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"
    />

    <title>{{ title }}</title>
    <link rel="icon" type="image/png" href="assets/images/favicon.png" />
    {% if description %}
      <meta name="description" content="{{ description }}" />
    {% endif %}

    <!-- Styles-->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/main.min.css" />
    <link rel="stylesheet" href="assets/fonts/Icomoon/style.css" />
  </head>
  <body>
    <div class="app">
      {% include _header.html %}
        {{ content }}
      {% if title != 404 %}
        {% include _footer.html %}
      {% endif %}
    </div>
    {% include _contact.html %}
    <script src="assets/js/main.min.js"></script>
  </body>
</html>
